@*@model AssembleConfigurationFormModel
*@@{
    ViewBag.Title = "Assemble";
    ViewData["Title2"] = "Assemble PC";
}

<h3 class="text-center">@ViewData["Title2"]</h3>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="row mt-2">
                <div class="form-group mt-2">
                    <label>Graphic Cards:</label>
                    <select  class="form-control">
                        @foreach (var item in (ViewBag.Gpus))
                        {
                            <option value="@item.Id">@item.Name - $@item.Price</option>
                        }
                    </select>
                </div>
                <div class="form-group mt-2">
                    <label>CPUs</label>
                    <select class="form-control">
                        @foreach (var item in ViewBag.Cpus)
                        {
                            <option value="@item.Id">@item.Name - $@item.Price</option>
                        }
                    </select>
                    <div class="row mt-2">
                    </div>
                    <div class="text-center">
@*                        <p><a class="btn btn-outline-info" type="submit" asp-area="" asp-controller="PcConfiguiration" asp-action="AssembleCpuAndGpu" >Add CPU and GPU</a></p>
*@                        <input class="btn btn-primary mt-4" type="submit" value="Add CPU and GPU" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group mt-2">
                <label>Motherboards</label>
                <select class="form-control">
                    @foreach (var item in ViewBag.Motherboards)
                    {
                        <option value="item.Id">@item.Name - $@item.Price</option>
                    }
                </select>
                <div class="text-center">
                    <input class="btn btn-primary mt-4" type="submit" value="Add Motherboard" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="row mt-2">
                <div class="form-group mt-2">
                    <label>Cases</label>
                    <select class="form-control">
                        @foreach (var item in ViewBag.Cases)
                        {
                            <option value="item.Id">@item.Name - $@item.Price</option>
                        }
                    </select>
                    <div class="text-center">
                        <input class="btn btn-primary mt-4" type="submit" value="Add Case" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="row mt-2">
                <div class="form-group mt-2">
                    <label>Coolers</label>
                    <select class="form-control">
                        @foreach (var item in ViewBag.Coolers)
                        {
                            <option value="item.Id">@item.Name - $@item.Price</option>
                        }
                    </select>
                    <div class="text-center">
                        <input class="btn btn-primary mt-4" type="submit" value="Add Cooler" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="row mt-2">
                <div class="form-group mt-2">
                    <label>Rams</label>
                    <select class="form-control">
                        @foreach (var item in ViewBag.Rams)
                        {
                            <option value="@item.Id">@item.Name $@item.Price</option>
                        }
                    </select>
                    <div class="text-center">
                        <input class="btn btn-primary mt-4" type="submit" value="Add RAM" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="row mt-2">
                <div class="form-group mt-2">
                    <label>Storages</label>
                    <select class="form-control">
                        @foreach (var item in ViewBag.Storages)
                        {
                            <option value="@item.Id">@item.Name - $@item.Capacity - @item.Price</option>
                        }
                    </select>
                    <div class="text-center">
                        <input class="btn btn-primary mt-4" type="submit" value="Add Storage" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="row mt-2">
                <div class="form-group mt-2">
                    <label>Power Supplies</label>
                    <select class="form-control">
                        @foreach (var item in ViewBag.Psus)
                        {
                            <option value="@item.Id">@item.Name - $@item.Price</option>
                        }
                    </select>
                    <div class="text-center">
                        <input class="btn btn-primary mt-4" type="submit" value="Add Power Supply" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" asp-action="Assemble" asp-controller="PcConfiguration">
            <div class="form-group mt-2">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" name="Name">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Assemble</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}